body{
    margin: 0;
}
h1{
    padding: 0px;
    margin: 0px;
}
.text{
    margin: 0px;
    padding: 20px;
}

header{
    height:400px ;
    background-color: gray;
    color: aliceblue;
    text-align: center;
    font-size: 40px;
    padding: 10px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRw2X3ps2VUvTqUDvCSOi9JjxADepTSMbztJw&s);
    background-size: 85%;
    background-position: top;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 5px 20px black;
    
}
main{
    height: 2450px;
    background-color: rgb(192, 170, 136);
    color: black;
    text-align: left;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url();
    background-size: contain;
    text-shadow: 1px 5px 20px black;
    display: flex;
}
.social img{
    width: 200px;
    padding-left: 10px;
}
.social{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    width: 50%;
    text-align: justify;
}
.right{
    width: 40%;
}
footer{
    height: 500px;
    background-color:  rgb(192, 170, 136);
    color: black;
    text-align: left;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 1px 5px 20px black;
    display: flex;
}

